body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1106px;
  height:596px;
}
#u402 {
  position:absolute;
  left:104px;
  top:34px;
  width:1106px;
  height:596px;
}
#u403 {
  position:absolute;
  left:2px;
  top:290px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
