<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">  
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">  
  <!-- [控制台STDOUT] -->  
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[edu_unioncenter] %-d{yyyy-MM-dd HH:mm:ss SSS} %t %l%n[%p] %m%n%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
  </appender>
  
   <appender name="DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/tools/log/debug/debug.out" />
		<param name="encoding" value="UTF-8" />
		<param name="Append" value="true" />
		<param name="ImmediateFlush" value="true" />
		<param name="BufferSize" value="1024" />
		<param name="BufferedIO" value="false" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[edu_unioncenter] %-d{yyyy-MM-dd HH:mm:ss SSS} %t %l%n[%p] %m%n%n"  />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/tools/log/info/info.out" />
		<param name="encoding" value="UTF-8" />
		<param name="Append" value="true" />
		<param name="ImmediateFlush" value="true" />
		<param name="BufferSize" value="1024" />
		<param name="BufferedIO" value="false" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[edu_unioncenter] %-d{yyyy-MM-dd HH:mm:ss SSS} %t %l%n[%p] %m%n%n"  />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="WARN" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/tools/log/warn/warn.out" />
		<param name="encoding" value="UTF-8" />
		<param name="Append" value="true" />
		<param name="ImmediateFlush" value="true" />
		<param name="BufferSize" value="1024" />
		<param name="BufferedIO" value="false" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[edu_unioncenter] %-d{yyyy-MM-dd HH:mm:ss SSS} %t %l%n[%p] %m%n%n"  />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="WARN" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/tools/log/error/error.out" />
		<param name="encoding" value="UTF-8" />
		<param name="Append" value="true" />
		<param name="ImmediateFlush" value="true" />
		<param name="BufferSize" value="1024" />
		<param name="BufferedIO" value="false" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[edu_unioncenter] %-d{yyyy-MM-dd HH:mm:ss SSS} %t %l%n[%p] %m%n%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="FATAL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/tools/log/fatal/fatal.out" />
		<param name="encoding" value="UTF-8" />
		<param name="Append" value="true" />
		<param name="ImmediateFlush" value="true" />
		<param name="BufferSize" value="1024" />
		<param name="BufferedIO" value="false" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[edu_unioncenter] %-d{yyyy-MM-dd HH:mm:ss SSS} %t %l%n[%p] %m%n%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="FATAL" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
   <!-- Root Logger -->  
   <root>  
       <level value="DEBUG"></level>  
       <appender-ref ref="STDOUT" />  
      <!--  <appender-ref ref="DEBUG" />
	   <appender-ref ref="INFO" />
	   <appender-ref ref="WARN" />
	   <appender-ref ref="ERROR" />
       <appender-ref ref="FATAL" /> -->
   </root>  
</log4j:configuration>  