<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqs.dao.course.ICourseCategoryMapper">
	<resultMap id="courseCategoryMap" type="courseCategory">
		<id column="ID" property="id" jdbcType="DECIMAL"/>
		<result column="NAME" property="name" jdbcType="VARCHAR"/>
		<result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
		
		<result column="CREATOR_ID" property="creatorId" jdbcType="DECIMAL"/>
		<result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP"/>
		<result column="LAST_OPERATOR_ID" property="lastOperatorId" jdbcType="DECIMAL"/>
		<result column="LAST_OPERATED_TIME" property="lastOperatedTime" jdbcType="TIMESTAMP"/>
	</resultMap>

</mapper>